.main-background{
  background-color: #F8F8F8;
}

.main-header{
  color: #212121;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 32px;
  padding-top: 80px;
  padding-left: 24px;
}

.main-description{
  color: #818C9F;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  padding-left: 24px;
}
