.main-array{
  display: flex;
}

.array-component{
  margin-top: 32px;
  flex-wrap: wrap;
  display: flex;
  margin-left: 72px;
}

.side-navigation{
  width: 240px;
  background-color: #fff;
  height: 100vh;
  position: sticky;
  top: 0px;
  box-shadow: 1px 0px 16px rgb(102,118,222,0.1);
}

.side-navigation-header {
  font-family: Montserrat;
  font-weight: bold;
  color: #212121;
  font-size: 16px;
  margin: 96px 72px 12px 40px;
}

.filter-button{
  display: flex;
  width: 160px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #818C9F;
  margin-left: 40px;
  padding-top: 12px;
  padding-bottom:12px;
  margin-right: 72px;
  cursor: pointer;
  fill: #818C9F;

}

.filter-button:hover{
  color: #5156E5;
  font-weight: 560;
  fill: #5156E5;
}

.filter-button:active{
  color: #5156E5;
  font-weight: 560;
}

.filter-button-active{
  display: flex;
  width: 160px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 560;
  color: #5156E5;
  margin-left: 40px;
  padding-top: 12px;
  padding-bottom:12px;
  margin-right: 72px;
  cursor: pointer;
  fill: #5156E5;
}

.nav-icons{
  margin-right: 8px;
}
