@font-face {
    font-family: 'Montserrat-Black';
    src: url('https://cdn.rawgit.com/yourshansel/neede/88785ccf/src/fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('https://cdn.rawgit.com/yourshansel/neede/88785ccf/src/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('https://cdn.rawgit.com/yourshansel/neede/88785ccf/src/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('https://cdn.rawgit.com/yourshansel/neede/88785ccf/src/fonts/Montserrat-Medium.ttf')
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://cdn.rawgit.com/yourshansel/neede/88785ccf/src/fonts/Montserrat-Regular.ttf')
}
