@import 'fonts.css';

.main-array{
  display: flex;
}


.array-component{
  margin-top: 32px;
  flex-wrap: wrap;
  display: flex;
  margin-left: 56px;
  margin-right: 56px;
}


/* Navigation Styles */

.nav{
  width: 200px;
  background-color: #FFF;
  height: 100vh;
  position: sticky;
  top: 0px;
  box-shadow: 1px 0px 16px rgb(102,118,222,0.1);
}

.nav-header {
  font-family: Montserrat-Bold;
  color: #212121;
  font-size: 16px;
  margin: 96px 72px 20px 40px;
}

.nav-button{
  display: flex;
  width: 160px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  color: #818C9F;
  margin-left: 40px;
  padding-top: 12px;
  padding-bottom:12px;
  margin-right: 72px;
  cursor: pointer;
  fill: #818C9F;
  text-decoration: none;
}


.nav-button:hover{
  color: #5156E5;
  font-weight: 560;
  fill: #5156E5;
}

.spacer{
  margin-right: 8px;
}

.nav-copyright {
  font-family: Montserrat;
  color: #818C9F;
  font-size: 10px;
  position: fixed;
  bottom: 16px;
  display: flex;
}

.nav-footer{
  margin-left: 40px;
  position: fixed;
  bottom: 32px;
  display: flex;
}

.nav-footer-item{
  font-family: Montserrat-Medium;
  padding-right: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818C9F;
}

.nav-footer-item:hover{
  color: #5156E5;
  cursor: pointer;
}

.nav-menu{
  display: none;
}


/* Text Styles */

.header{
  color: #212121;
  font-family: Montserrat-Bold;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 8px;
  margin-left: 72px;
}

.description{
  color: #818C9F;
  font-family: Montserrat;
  font-size: 14px;
  margin-left: 72px;
  margin-bottom: 24px;
}

.about-header {
  color: #212121;
  font-family: Montserrat-Bold;
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 72px;
}

.about-description{
  color: #818C9F;
  font-family: Montserrat;
  font-size: 14px;
  margin-left: 72px;
  margin-right: 120px;
  margin-bottom: 16px;
  max-width: 640px;
  text-align: left;
  line-height: 1.6;
}

.about-link {
  color: #818C9F;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.6;

}

.about-spacer {
  height: 40px;
}


/* Mobile Styles */

.mobile-header{
  display:none;
  width: 100%;
}

.mobile-container{
  width: auto;
  display: flex;
  justify-content: space-between;
}

.mobile-menu{
  width: 16px;
  height: 16px;
  fill: #212121;
  margin: 40px 24px;
}

.mobile-menu-off{
  width: 16px;
  height: 16px;
  fill: #212121;
  margin: 40px 24px;
}

.mobile-menu:hover{
  fill: #5156E5;
  cursor: pointer;
}

.neede-logo{
  width: 40px;
  height: 40px;
  margin-top: 24px;
  fill: #212121;
  margin-bottom: 24px;
}


.nav-on{
  z-index: 3;
  position: fixed;
  display: block;
  width: 200px;
  background-color: #fff;
  height: 100vh;
  top: 0px;
  box-shadow: 1px 0px 16px rgb(102,118,222,0.1);
  animation: nav-on 0.25s ease-out forwards;
}

.mobile-overlay{
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(33,33,33,0.8);
}

.mobile-overlay-off{
    display: none;
    position: fixed;
}


/* Helper */


@keyframes nav-on {
    0% {
       transform: translateX(-100%);
       opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }

    }

/* Media Queries */


@media screen and (min-width : 375px)
and (max-width : 1024px){

  .nav {display:none;}
  .mobile-header{display:block;}
  .header {text-align: center; margin-left: 24px; margin-right: 24px; margin-top: 16px;}
  .description {text-align: center; margin-left: 48px; margin-right: 48px; margin-bottom: 24px;}
  .array-component{justify-content: space-evenly; margin: auto;}
  .nav-header{margin-top : 72px;}
  .nav-button{padding-top: 8px; padding-bottom: 8px;}
  .about-header {text-align: center; margin-left: 48px; margin-right: 48px; margin-top: 40px; margin-bottom: 16px;}
  .about-description {text-align: center; margin-left: 48px; margin-right: 48px; margin-bottom: 24px; line-height: 2}
  .nav-footer{bottom: 64px;}
  .nav-copyright{bottom: 48px;}

}
